@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Healthy travel: </h1>
    <h1> Control calories with fun</h1>
    <p class="lead">
        This site is designed to help calorie controllers and other tourists who want to record
        and pay attention to their calorie intake and consumption to maintain good health
        and weight during travelling.
    </p>
    @*@<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
    *@

